body
{
    
    overflow-x: hidden;
    margin:0;
    padding:0;
    box-sizing: border-box;
   
    font-family:'Times New Roman', Times, serif;
    height:100%;
   background-color: #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.compare
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(../images/black-background.jpg);
}
.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #8e8e8e;
    text-transform: uppercase;
    font-size: 12px;
}
.btn-primary:hover
{
    color:#255784;
    background: #2196f3;
    box-shadow:0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.8s;
    transition-duration: 0.6s;
}
.btn-primary b
{
    color:black;
    visibility: hidden;
}


.comparison
{
    color: white;
   

}
.comparison-img
{
    margin-top: 22px;
   
}
.comparison-img img
{
  
   border:3px solid white;
}
.comparison-img h1  
{
    margin-top:3em;
    color:white;
    text-transform: uppercase;
    font-size:50px ;
    
}
.column
{
    justify-content: center;
    display: flex;

    float:left;
   width:33.33%;
    padding:5px;
}

.row::after
{
    content:"";
    clear:both;
    display:table;
}






@media only screen and (max-width: 600px) {
    .column
{
    justify-content: center;
    display: flex;
    float:left;
    width:100%;
    padding:5px;
}
#vs
{
    display:none;
}
.vs-small
{
    visibility: visible;
    color:white;
    margin-top: -5px;
}



}


.grid-container {
    display: grid;
    grid-gap: 10px;
   
    padding: 10px;
  }
  
  .grid-item {
    
    text-align: center;
   
  }
  
  .item1 {
    grid-column: 1;
    grid-row: 1;
  }
  .item2
  {
    grid-column: 3;
    grid-row:1;
  }

  .item3{
    grid-column: 5;
    grid-row: 1;
  }
.next-prev
{
  color:white;
  background-color: rgb(148, 0, 0);
  border-radius:2px;
  border: hidden;
  margin-bottom: 5em;
}

.next-prev:hover
{
    background-color: rgb(105, 0, 0);
}
.v1 {
    border-left: 4px solid #500000;
    height: 500px;
    transform: translateX(50%);
  }
 


  .hero {
    position: relative;
    width: 100%;
    
  }
  

  
  .overlay {
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #283d444d;
overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .hero:hover .overlay {
    width: 100%;
  }
  .text img
  {
    
  
    height: 462px;
    width: 440px;
   
  }
  .text {
    color: white;
 
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
  }
